<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>CC聊天室</title>
		<link type="text/css" rel="stylesheet" href="__CSS__/main.css" />
		<link rel="stylesheet" href="__CSS__/bootstrap.min.css">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="__JS__/jquery.min.js"></script>

		<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
		<!--<script src="__JS__/popper.min.js"></script>-->

		<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
		<script src="__JS__/bootstrap.min.js"></script>
		<script src="__JS__/jquery-3.3.1.js"></script>
		<!--jQuery框架-->
		<script src="__JS__/main.js"></script>
		<!--jQuery框架-->
	
	</head>

	<body style=" width:100vh; background:url(__PICTURE__/backgroundPic1.jpg);background-repeat: no-repeat; background-size: cover;">
		<div id="Main" class="list-group " >
			<div id="Main_left"  >
				<div id="FriendList">
					<div id="Myself">
						<!--个人信息-->
						<div id="My">
							<!--我的信息-->
							<p class="My_Name">{$user_myInfo.user_nickname}</p>
							<p class="My_Other">{$user_myInfo.user_account}</p>
							<p class="My_Other">{$user_myInfo.user_mail}</p>
							<p class="My_Other">{$user_myInfo.user_phone}</p>
						</div>
					</div>

					<div class="container">
						<!--列表栏-->
						<div class=" text-white">
							<button id="btn" class=" bg-info" onclick="RecentContact()"> 最近联系 </button>
							<button id="btn" class=" bg-info" onclick="MyFriend()"> 我的好友 </button>
							<button id="btn" class=" bg-info" onclick="MyGroup()"> 我的群组 </button>
						</div>
					</div>

					<div class="RecentContact" id="RecentContact" style="display:none;">
						<!--最近联系-->

						<foreach name="nearestContacts" item="Contact">
							<div class="Friend_bd">
								<a href="__URL__/friendChat?id={$Contact.user_id}" class="list-group-item list-group-item-action" style="background: rgba(255,255,255,0.85)">
									<div class="Friend_Other">{$Contact.user_nickname}({$Contact.user_statename})</div>
								</a>
							</div>
						</foreach>
					</div>

					<div class="MyFriend" id="MyFriend">
						<!--我的好友-->
						<!--<table>
							<tr>
								<td>-->
									<!--<a href="javascript:void(0)" onclick="openDiv(this)">好友分组</a>-->
									<!--<div class="Friend">-->
										<include file="Friends/friendList" />
										<!--
								</td>
							</tr>

						</table>-->
					</div>

					<!-- <span><h3 class="Friend_h3">我的好友</h3></span> -->
					<div class="MyGroup" id="MyGroup" style="display:none;">
						<include file="ChatGroups/chatGroupsList" />
					</div>
				</div>

			</div>
			<div class="btn-group " style="margin: 0 45px;">
					<a href="__URL__/../Friends/addFriend" class="btn btn-secondary">添加好友</a>
					<a href="__URL__/../ChatGroups/createChatGroup" class="btn btn-secondary">群组创建</a>
					<a href="__URL__/../ChatGroups/addChatGroup" class="btn btn-secondary">加入群组</a>
					<include file="User/exit" />
			</div>
		</div>
	</body>

</html>