<div class="card">
	<div class="card-body">
		<h4 class="card-title">好友信息</h4>
		<form name="friendInfo_form" id="friendInfo_form" method="post" action="__URL__/../Friends/setFriendRemark?id={$theFriend.user_id}">
			<div>账号:{$theFriend.user_account}</div>

			<div>名称:{$theFriend.user_nickname}</div>

			<div>备注:<input type="text" name="remark" id="remark" value="{$friend_remark} " style="width: 120px;" /> </div>
			<div>状态:{$theFriend.user_statename}</div>
			<div>邮箱:{$theFriend.user_mail}</div>
			<div>电话:{$theFriend.user_phone}</div>
			<br />
			<input type="submit" class="button btn-secondary" class="btn btn-primary" id="setFriendRemark" value="设置备注" />

			<!-- 按钮：用于打开模态框 -->
			<button type="button" class="button btn-secondary" data-toggle="modal" data-target="#myModal">    刪除好友  </button>

			<!-- 模态框 -->
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">

						<!-- 模态框主体 -->
						<div class="modal-body">
							你确定要删除该好友吗？
						</div>

						<!-- 模态框底部 -->
						<div class="modal-footer">
							<input type="submit" class="btn btn-primary" id="delFriend" formaction="__URL__/../Friends/do_deleteFriend?id={$theFriend.user_id}" value="确定删除" />
							<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
						</div>

					</div>
				</div>
			</div>

		</form>
	</div>
</div>