
<div class="card">
	<div class="card-body">
		<h4 class="card-title">{$chatGroupInfo.cg_name}</h4>
		<div class="card-text">群主：{$chatGroupInfo.ownerNickName}</div>		
		<div class="card-text">群id：{$chatGroupInfo.cg_id}</div>		
		
		<div class="card-text">简介：</div>
		<div class="" style="padding: 2px; font-size: 14px;border: 1px solid rgba(223,223,223);">			
				<p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$chatGroupInfo.cg_brief}</p>			
		</div>		
		<div class="card-text">创建时间：{$chatGroupInfo.cg_createtime}</div>
	</div>
</div>