<form name="friendInfo_form" id="friendInfo_form" method="post" action="__URL__/../ChatGroups/do_dissolveChatGroup?id={$chatGroupId}">

	<!-- 按钮：用于打开模态框 -->
	<button type="button" class="button btn-secondary" data-toggle="modal" data-target="#dissolveGroupModal">    解散群组  </button>
	<button type="button" class="button btn-secondary" data-toggle="modal" data-target="#quitGroupModal">   退出群组  </button>
	<!-- 模态框 -->
	<div class="modal fade" id="dissolveGroupModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- 模态框主体 -->
				<div class="modal-body">
					你是群主，你确定要解散该群组吗？
				</div>

				<!-- 模态框底部 -->
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" id="deleteChatGroup" value="确定解散" />

					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				</div>

			</div>
		</div>
	</div>
	
		<!-- 模态框 -->
	<div class="modal fade" id="quitGroupModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- 模态框主体 -->
				<div class="modal-body">
					你确定要退出该群组吗？
				</div>

				<!-- 模态框底部 -->
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" id="deleteChatGroup" formaction="__URL__/../ChatGroups/do_quitChatGroup?id={$chatGroupId}" value="退出群组"/>
					<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				</div>

			</div>
		</div>
	</div>


</form>


<form name="friendInfo_form" id="friendInfo_form" method="post" action="__URL__/../ChatGroups/do_quitChatGroup?id={$chatGroupId}">

	<!-- 按钮：用于打开模态框 -->
	


</form>