<!-- 按钮：用于打开模态框 -->
			<button href="" class="button btn-secondary" data-toggle="modal" data-target="#myModal">    退出系统  </button>

			<!-- 模态框 -->
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">

						<!-- 模态框主体 -->
						<div class="modal-body">
							你确定要退出聊天系统吗？
						</div>

						<!-- 模态框底部 -->
						<div class="modal-footer">
							<a class="btn btn-primary" id="" href="__URL__/../User/logout"  > 确认退出 </a>
							<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
						</div>

					</div>
				</div>
			</div>