<div class="card">
	<div class="card-body">
		<h4 class="card-title">群组成员列表</h4>
		<foreach name="chatGroupMembersList" item="chatGroupMember">
			<a href="__URL__/../Main/friendChat?id={$chatGroupMember.cgm_userid}" class="list-group-item list-group-item-action">
				<!--<div>群组id:{$chatGroupMember.cgm_groupid}</div>-->
				<div>
					<!--群成员:-->{$chatGroupMember.memberName} ({$chatGroupMember.memberStateName})</div>
				<!--<div>群备注: {$chatGroupMember.cgm_groupremark}</div>-->
			</a>
		</foreach>
	</div>

</div>

