
<div class=" text-white">
	<a href="__URL__/friendChat?id={$friendId}" class="btn btn-primary" >聊天</a>
	<a href="__URL__/friendChatHistory?id={$friendId}" class="btn btn-primary" >记录</a>
</div>
<div id="Message_record">
	<ul class="list-group">
		<foreach name="messages" item="message">
			<li class="list-group-item" style="font-size: 14px">
				<div style="color:cornflowerblue;">
					<if condition="$message.msg_fromuserid == $userId">
						{$userNickName}
						<else /> {$theFriend.user_nickname}
					</if>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 时间:{$message.msg_time}
				</div>
				<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$message.msg_content}</div>
			</li>
		</foreach>
	</ul>
</div>
<div>{$page}</div>

	<script type="text/javascript">//前端Ajax持续调用服务端，称为Ajax轮询技术
	
		var  url_str = "{:U('Messages/get_message')}?id={$friendId}";
		var getting = {		
			url: url_str,
			dataType: 'json',		
			success: function(res) {
		var text1 = '<ul class="list-group">';
		for (var i=0; i<6; i++){
		text1 += '<li class="list-group-item" style="font-size: 14px">';
		text1 += '<div style="color:cornflowerblue;">';
		
		text1 += res[i].from_nickname +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 时间:'+res[i].msg_time	+'</div>';
		text1 += '<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+res[i].msg_content+'</div></li> ';

		}
		text1 += '</ul>';
		$("#Message_record").html(text1);
//		document.write(text1);
				//  console.log(res.success);
	//			console.log(document.getElementsByTagName("body")[0].innerHTML = "<div>" + res.success + "</div>");
				console.log( res);
				$.ajax(getting); //关键在这里，回调函数内再次请求Ajax
		
			},
			//当请求时间过长（默认为60秒），就再次调用ajax长轮询
			error: function(res) {
				$.ajax($getting);
			}		
		};		
		$.ajax(getting);
	</script>

	
	